- Setup and Installation of IDE

## String Variables

In [1]:
message1 =" hey there...!!! how are you?"
print(message1)

 hey there...!!! how are you?

In [2]:
message ='hey there...Bobby\'s..!!!\n how are you?'
print(message)

hey there...Bobby's..!!!
 how are you?

In [35]:
message ="hey there...\
 Bobby's..!!! \
how are you?"
print(message)

hey there... Bobby's..!!! how are you?

In [36]:
message1 ='''hey there...
Bobby's..!!! 
how are you?'''
print(message)

hey there... Bobby's..!!! how are you?

In [37]:
# Len() function with string variable

print(len(message))

38

In [38]:
# String indexing is possible

message[13:18]

'Bobby'

In [42]:
message1.lower()

' hey there...!!! how are you?'

In [43]:
message1.upper()

' HEY THERE...!!! HOW ARE YOU?'

In [46]:
message1.count('h')

3

In [50]:
message1.find('hey')

1

In [54]:
# replace method
new_message = message1.replace('...!!!','Good Morning')
print(new_message)

 hey thereGood Morning how are you?

In [ ]:
# Concatinate string

In [58]:
# for Short string its ok bt not for long strings
greeting = 'hello'
name = 'Dipak'
message = greeting +' '+ name
print(message)

hello Dipak

In [59]:
greeting = 'hello'
name = 'Dipak'
message = '{},{}. Welcome to Python'.format(greeting,name)
print(message)

hello,Dipak. Welcome to Python

In [62]:
# F string examples
greeting = 'hello'
name = 'Dipak'
message = f'{greeting},{name.upper()}.... Welcome to Python'
print(message)

hello,DIPAK.... Welcome to Python

In [65]:
# Use Ful methods
print(dir(name))
# print(help(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## Numerical Data

In [69]:
num = 3
print(type(num))

<class 'int'>

In [71]:
num1 = 8
num2 = 2

addition  = num1 + num2
subtract = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_divison = num1 // num2
exponent = num1 ** num2
Modulus = num1 % num2
print(addition)
print(subtract)
print(multiplication)
print(division)
print(floor_divison)
print(exponent)
print(Modulus)

10
6
16
4.0
4
64
0

- python follows the BODMOS rule for arithmatic operations

### Comparison Operations

In [73]:
num1 = 8
num2 = 2

equal  = num1 == num2
not_equal = num1 != num2
greater_than = num1 > num2
less_than = num1 < num2
greater_than_equal_to = num1 >= num2
less_than_equal_to = num1 <= num2
print(equal)
print(not_equal)
print(greater_than)
print(less_than)
print(greater_than_equal_to)
print(less_than_equal_to)

False
True
True
False
True
False

### Type Casting

In [76]:
num_1 = '500'
num_2 = '700'

num_1 = int(num_1)
num_2 = int(num_2)

print(num_1 + num_2)

1200

## List, Tuples, Dict and Sets

In [101]:
cources = ['python','sql','ml','msexcel','tableau']

In [102]:
print(cources)

['python', 'sql', 'ml', 'msexcel', 'tableau']

In [103]:
cources[1]

'sql'

In [104]:
cources[-1]

'tableau'

- updating the list content
- we can use append or insert
- insert takes 2 arguments while append takes only 1

In [105]:
cources.append('Beta')
# append will update the list from the end

In [106]:
cources

['python', 'sql', 'ml', 'msexcel', 'tableau', 'Beta']

In [107]:
cources.insert(1,'Math')
# insert takes 2 args -- 1st is at which index you want to insert
# and 2nd is value

In [108]:
cources

['python', 'Math', 'sql', 'ml', 'msexcel', 'tableau', 'Beta']

In [109]:
cources_2 = ['Art', 'Edu', 'Practice']

In [142]:
# extend method used to add multiple values in list to extend the list 

cources.extend(cources_2)

In [143]:
print(cources)

['tableau', 'sql', 'python', 'msexcel', 'ml', 'Practice', 'Math', 'Edu', 'Beta', 'Art', 'Art', 'Edu', 'Practice', 'Art', 'Edu', 'Practice']

In [112]:
cources.count('Practice')

1

In [115]:
cources.sort(reverse=True)
#cources.clear()

In [116]:
print(cources)

['tableau', 'sql', 'python', 'msexcel', 'ml', 'Practice', 'Math', 'Edu', 'Beta', 'Art']

In [118]:
 sor= sorted(cources)

In [119]:
print(sor)

['Art', 'Beta', 'Edu', 'Math', 'Practice', 'ml', 'msexcel', 'python', 'sql', 'tableau']

In [120]:
# loop with list

In [125]:
for item in cources:
    print(item)

tableau
sql
python
msexcel
ml
Practice
Math
Edu
Beta
Art

In [129]:
for item in enumerate(cources):
    print(item)

(0, 'tableau')
(1, 'sql')
(2, 'python')
(3, 'msexcel')
(4, 'ml')
(5, 'Practice')
(6, 'Math')
(7, 'Edu')
(8, 'Beta')
(9, 'Art')

In [128]:
for index,item in enumerate(cources, start=1):
    print(index,item)

1 tableau
2 sql
3 python
4 msexcel
5 ml
6 Practice
7 Math
8 Edu
9 Beta
10 Art

In [136]:
# converting comma seperated string from the List and vise versa
cource_str = ', '.join(cources)
print(cource_str)

# Converting back to list
new_list = cource_str.split(' - ')
print(new_list)

tableau, sql, python, msexcel, ml, Practice, Math, Edu, Beta, Art
['tableau, sql, python, msexcel, ml, Practice, Math, Edu, Beta, Art']

#### tuples

- tuples are immutable

In [138]:
tup = ('tableau, sql, python, msexcel, ml, Practice, Math, Edu, Beta, Art')

In [139]:
print(tup)

tableau, sql, python, msexcel, ml, Practice, Math, Edu, Beta, Art

#### Sets

- sets are mutable bt it does not care about order and gives only unique values

In [144]:
set_cources = {'tableau', 'sql', 'python', 'msexcel', 'ml', 'Practice', 'Math', 'Edu', 'Beta', 'Art', 'Art', 'Edu', 'Practice', 'Art', 'Edu', 'Practice'}

In [145]:
print(set_cources)

{'Edu', 'Art', 'Math', 'python', 'tableau', 'sql', 'msexcel', 'Beta', 'Practice', 'ml'}

In [146]:
# Creating the empty list, tuples and set

In [147]:
# List
empty_list = []
empty_list = list()

In [148]:
# Tuple
empty_tuple = ()
empty_tuple = tuple()

In [149]:
# Sets
empty_set = {}  # This is not right..!!! Its empty DICT
empty_set = set()

## Python Dictionary

- Dict work with key value pairs
-

In [58]:
student = {'name':'John','Age':25,'Courses':['Math','Python']}

In [59]:
print(student)

{'name': 'John', 'Age': 25, 'Courses': ['Math', 'Python']}

In [60]:
student['name']
#student['1']

'John'

 - .get() method

In [61]:
get_m = student.get('Phone')
print(get_m)

None

In [62]:
student['phone'] = '555-5555'

In [63]:
print(student)

{'name': 'John', 'Age': 25, 'Courses': ['Math', 'Python'], 'phone': '555-5555'}

In [64]:
# Update the value in dict 

student.update({'name':'Jane', 'Age': 23,'phone':'555-6666'})

In [65]:
student

{'name': 'Jane', 'Age': 23, 'Courses': ['Math', 'Python'], 'phone': '555-6666'}

In [66]:
# delete specific value

del student['Age']

In [67]:
student

{'name': 'Jane', 'Courses': ['Math', 'Python'], 'phone': '555-6666'}

In [68]:
# you can also use the pop methodas below
age = student.pop("phone")
print(age)

555-6666

In [75]:
# to get the lenght  of the dict as per present keys in dict
print(len(student))

2

In [76]:
# .keys() - method to get all the keys from the dict 
print(student.keys())

dict_keys(['name', 'Courses'])

In [73]:
# .values() - method to get all the values from the dict 
print(student.values())

dict_values(['Jane', ['Math', 'Python']])

In [77]:
# .items() - method to get all the keys and values in tuples from the dict 

print(student.items())

dict_items([('name', 'Jane'), ('Courses', ['Math', 'Python'])])

#####  Loop through Dict

In [78]:
for key in student:
    print(key)

name
Courses

In [80]:
for key,value in student.items():
    print(key,value)

name Jane
Courses ['Math', 'Python']

### Conditional & Booleans Statements

In [82]:
if True:
    print("condition was true")

condition was true

In [86]:
language = 'python'

if language == 'python':
    print("condition was true")

condition was true

In [ ]:
## Comparison operators

# Equal :  == 
# Not Equal : != 
# Greater Than : > 
# Less Than: < 
# Greater Than Equal: >= 
# Less Than_Equal: <= 
# Object Identity: is

In [87]:
# IF-ELSE

language = 'python'

if language == 'python':
    print("langage is python")
else:
    print('No Match')

langage is python

In [90]:
# IF-ELIF-ELSE

language = 'Java'

if language == 'Python':
    print("langage is python")

elif language == 'Java':
    print("language is Java")

else:
    print('No Match')

language is Java

###### Python does not have switch case statement like other programming languages.

## Boolean Operators
 - AND
 - OR
 - NOT

In [98]:
# AND 

user = 'Admin'
logged_in = True


if user == 'Admin' and logged_in:
    print("signed in successfully...!!!")

else:
    print("Wrong Credentials")

signed in successfully...!!!

In [103]:
# OR 

user = 'Admin'
logged_in = True

if user == 'Admin' or logged_in:
    print("signed in successfully...!!!")

else:
    print("Wrong Credentials")

signed in successfully...!!!

In [106]:
# NOT

user = 'Admin'
logged_in = False  # True

if not logged_in:
    print("Please log in...")

else:
    print("Welcome...!!")

Please log in...

###### Object Identity -->  is

In [114]:
a = [1,2,3]
b= [1,2,3]

In [115]:
print(id(a))
print(id(b))

print(a is b)

2250718813440
2250725566144
False

Therefor,

In [119]:
a = [1,2,3]
b=a
print(id(a))
print(id(b))

print(a is b) 
# above & below statements are the same 
print(id(a) == id(b))

2250722526720
2250722526720
True
True

In [135]:
## Flase Values

#     False
#     None
#     Zero of any numeric type like 0 
#     Any empty sequense. For example, '', (), [].
#     Any empty mapping. For example, {}.

    
condition = False

if condition:
    print('Evaluated to True')
else:
    print('Evaluated to False')

Evaluated to False

In [136]:
## Other than above everything else is true.

## Loops & Iterations -

#### For Loop -

In [147]:
nums = [1,2,3,4,5,6]

for item in nums:
    if item == 4:
        print("Found")
    #print(item)

Found

In [148]:
# break & Continoue statement

nums = [1,2,3,4,5,6]

for item in nums:
    if item == 4:
        print("Found")
        break
    print(item)

1
2
3
Found

In [149]:
nums = [1,2,3,4,5,6]

for item in nums:
    if item == 4:
        print("Found")
        continue
    print(item)

1
2
3
Found
5
6

In [151]:
nums = [1,2,3,4,5,6]

for num in nums:
    for letter in 'abc':
        print(num,letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c
6 a
6 b
6 c

In [159]:
# range(Start,End, Steps)   ---> range's end value will be neglected
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

#### while Loop -

In [161]:
x = 0
while x <10:
    if x==5:
        break
    print(x)
    x +=1

0
1
2
3
4

# Functions

In [166]:
def hello_func():
    print("hello ...!!!")

In [167]:
hello_func()

hello ...!!!

In [173]:
def hello_funct():
    print("hello ... !!!")

In [174]:
hello_funct()
hello_funct()
hello_funct()
hello_funct()
hello_funct()

hello ... !!!
hello ... !!!
hello ... !!!
hello ... !!!
hello ... !!!

- This will keep your code DRY - Dont Repeat Yourself!

In [176]:
def hello_func():
    return 'hello there'

In [178]:
hello_func().upper()

'HELLO THERE'

In [ ]:
# arguments with functions

In [190]:
def hello_fun(greetings,name = 'You'):
    return '{}, {} .'.format(greetings,name)

hello_fun('Hey', name= 'Carry')

'Hey, Carry .'

In [191]:
## *args & ** kwargs Meaning 
#   

def student_info(*args, **kwargs):
    print(args)
    print(kwargs)

In [203]:

def student_info(*args, **kwargs):
    print(args) 
    print(kwargs)
    
    # *args, **kwarg == standard representations for args and kwargs

cources = ['math', 'art']
info = {'name':'john', 'age':22}

student_info(*cources,**info)   # * and ** before the variabel --> unpacked arguments values from the list and dict

('math', 'art')
{'name': 'john', 'age': 22}

In [204]:
### Problem to test and standard example

In [207]:
# Number of days per month. First value placeholder for indexing purpose.
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]

def is_leap(year):
    """ Returnt True for leap years, False for non-leap year. """
    
    return year % 4 ==0 and (year % 100 != 0 or year % 400 ==0)

def days_in_month(year,month):
    """ Returnt number of days in that month in that year. """
    
    if not 1 <= month <= 12:
        return 'Invalid Month'
    
    if month == 2 and is_leap(year):
        return 29
    
    return month_days[month]

In [208]:
is_leap(2017)

False

In [209]:
is_leap(2020)

True

In [210]:
days_in_month(2017,2)

28

In [211]:
days_in_month(2020,2)

29

In [212]:
days_in_month(2021,5)

31

$ NOTE - Explore the Functions topic more...!!! >

### Import Modules & Explore Standard Library

In [2]:
#import my_module as mm 

# Please check the Introduction_to_Module_Import file for further notes