# Basic of Python

- Setup and Installation of Anaconda IDE
- Various Datatypes  
- Variables
- Variable Asssignment
- print formatting

##### Type Function:

In [2]:
# type function can be used to check the data of variables 
mess = 10
print(type(mess))
print(mess)

<class 'int'>
10

In [4]:
#### Mathematical Operations
first_num = 10
sec_num = 20

print(first_num + sec_num)
print(first_num - sec_num)
print(first_num * sec_num)
print(first_num / sec_num)
print(first_num % sec_num)
print(first_num ** sec_num)
#  Python understands BODMAS rule for complex mathematical expressions.

30
-10
200
0.5
10
100000000000000000000

In [6]:
first_name = "Jemmy"
sec_name = "peter"

In [8]:
print("first name is  {} and second name is {}".format(first_name,sec_name))

first name is  Jemmy and second name is peter

In [10]:
print("first name is  {name} and second name is {last}".format(name=first_name,last=sec_name))

first name is  Jemmy and second name is peter

## String Variables

In [1]:
message1 =" hey there...!!! how are you?"
print(message1)

 hey there...!!! how are you?

In [2]:
message ='hey there...Bobby\'s..!!!\n how are you?'
print(message)

hey there...Bobby's..!!!
 how are you?

In [35]:
message ="hey there...\
 Bobby's..!!! \
how are you?"
print(message)

hey there... Bobby's..!!! how are you?

In [36]:
message1 ='''hey there...
Bobby's..!!! 
how are you?'''
print(message)

hey there... Bobby's..!!! how are you?

In [37]:
# Len() function with string variable

print(len(message))

38

In [38]:
# String indexing is possible

message[13:18]

'Bobby'

In [42]:
message1.lower()

' hey there...!!! how are you?'

In [43]:
message1.upper()

' HEY THERE...!!! HOW ARE YOU?'

In [46]:
message1.count('h')

3

In [50]:
message1.find('hey')

1

In [54]:
# replace method
new_message = message1.replace('...!!!','Good Morning')
print(new_message)

 hey thereGood Morning how are you?

In [ ]:
# Concatinate string

In [58]:
# for Short string its ok bt not for long strings
greeting = 'hello'
name = 'Dipak'
message = greeting +' '+ name
print(message)

hello Dipak

In [59]:
greeting = 'hello'
name = 'Dipak'
message = '{},{}. Welcome to Python'.format(greeting,name)
print(message)

hello,Dipak. Welcome to Python

In [62]:
# F string examples
greeting = 'hello'
name = 'Dipak'
message = f'{greeting},{name.upper()}.... Welcome to Python'
print(message)

hello,DIPAK.... Welcome to Python

In [65]:
# Use Ful methods
print(dir(name))
# print(help(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

#### String Formatting

In [46]:
def greeting(name):
    return "Hello {}, Welcome to the communoty".format(name)

In [48]:
greeting("dipak")

'Hello dipak, Welcome to the communoty'

In [51]:
def auto_mail(f_name,l_name):
    return "Welcome {}, Please go to your profile your full name {} {}".format(f_name,f_name,l_name)

In [52]:
auto_mail("dipak","wanere")

'Welcome dipak, Please go to your profile your full name dipak wanere'

## Numerical Data

In [69]:
num = 3
print(type(num))

<class 'int'>

In [71]:
num1 = 8
num2 = 2

addition  = num1 + num2
subtract = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_divison = num1 // num2
exponent = num1 ** num2
Modulus = num1 % num2
print(addition)
print(subtract)
print(multiplication)
print(division)
print(floor_divison)
print(exponent)
print(Modulus)

10
6
16
4.0
4
64
0

- python follows the BODMOS rule for arithmatic operations

### Comparison Operations

In [73]:
num1 = 8
num2 = 2

equal  = num1 == num2
not_equal = num1 != num2
greater_than = num1 > num2
less_than = num1 < num2
greater_than_equal_to = num1 >= num2
less_than_equal_to = num1 <= num2
print(equal)
print(not_equal)
print(greater_than)
print(less_than)
print(greater_than_equal_to)
print(less_than_equal_to)

False
True
True
False
True
False

### Type Casting

In [76]:
num_1 = '500'
num_2 = '700'

num_1 = int(num_1)
num_2 = int(num_2)

print(num_1 + num_2)

1200

## List, Tuples, Dict and Sets

#### 1. List
    A list is a data structures in python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, list is defined by having values between square brackets [ ].

In [22]:
lst_example = [] 
print(type(lst_example))

<class 'list'>

In [24]:
lst = list()
print(type(lst))

<class 'list'>

In [30]:
#lst_example.append("300")
print(lst_example)
lst_example.insert(1,"pick")

['appy', 'pick', 'appy', '200', '300', '300']

In [32]:
cources = ['python','sql','ml','msexcel','tableau']

In [33]:
print(cources)

['python', 'sql', 'ml', 'msexcel', 'tableau']

In [34]:
cources.extend(['EDA' , 'Deep learning'])

In [35]:
cources

['python', 'sql', 'ml', 'msexcel', 'tableau', 'EDA', 'Deep learning']

In [103]:
cources[1]

'sql'

In [104]:
cources[-1]

'tableau'

- updating the list content
- we can use append or insert
- insert takes 2 arguments while append takes only 1
- extend can add multiple elements at a time

In [105]:
cources.append('Beta')
# append will update the list from the end

In [106]:
cources

['python', 'sql', 'ml', 'msexcel', 'tableau', 'Beta']

In [107]:
cources.insert(1,'Math')
# insert takes 2 args -- 1st is at which index you want to insert
# and 2nd is value

In [108]:
cources

['python', 'Math', 'sql', 'ml', 'msexcel', 'tableau', 'Beta']

In [109]:
cources_2 = ['Art', 'Edu', 'Practice']

In [142]:
# extend method used to add multiple values in list to extend the list 

cources.extend(cources_2)

In [143]:
print(cources)

['tableau', 'sql', 'python', 'msexcel', 'ml', 'Practice', 'Math', 'Edu', 'Beta', 'Art', 'Art', 'Edu', 'Practice', 'Art', 'Edu', 'Practice']

In [112]:
cources.count('Practice')

1

In [115]:
cources.sort(reverse=True)
#cources.clear()

In [116]:
print(cources)

['tableau', 'sql', 'python', 'msexcel', 'ml', 'Practice', 'Math', 'Edu', 'Beta', 'Art']

In [118]:
sor= sorted(cources)

In [119]:
print(sor)

['Art', 'Beta', 'Edu', 'Math', 'Practice', 'ml', 'msexcel', 'python', 'sql', 'tableau']

In [120]:
# loop with list

In [125]:
for item in cources:
    print(item)

tableau
sql
python
msexcel
ml
Practice
Math
Edu
Beta
Art

In [129]:
for item in enumerate(cources):
    print(item)

(0, 'tableau')
(1, 'sql')
(2, 'python')
(3, 'msexcel')
(4, 'ml')
(5, 'Practice')
(6, 'Math')
(7, 'Edu')
(8, 'Beta')
(9, 'Art')

In [128]:
for index,item in enumerate(cources, start=1):
    print(index,item)

1 tableau
2 sql
3 python
4 msexcel
5 ml
6 Practice
7 Math
8 Edu
9 Beta
10 Art

In [136]:
# converting comma seperated string from the List and vise versa
cource_str = ', '.join(cources)
print(cource_str)

# Converting back to list
new_list = cource_str.split(' - ')
print(new_list)

tableau, sql, python, msexcel, ml, Practice, Math, Edu, Beta, Art
['tableau, sql, python, msexcel, ml, Practice, Math, Edu, Beta, Art']

### List Comprehension

List comprehensions provide a concise way to create list
It consists of brackets containing an expression followed by a for clause, then zero or more for or if clause.clause
The expressions can be anything. meaning you can put in all kinds of objects in list

In [40]:
lst1 = []
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [43]:
lst_square([1,2,3,4,4,5,5,6,3,7,9,8,8,9,4])

[1, 4, 9, 16, 16, 25, 25, 36, 9, 49, 81, 64, 64, 81, 16]

In [45]:
lst = [1,2,3,4,4,5,5,6,3,7,9,8,8,9,4]
# List Comprehension
[i*i for i in lst if i%2!=0]

[1, 9, 25, 25, 9, 49, 81, 81]

#### tuples

- tuples are immutable

In [138]:
tup = ('tableau, sql, python, msexcel, ml, Practice, Math, Edu, Beta, Art')

In [139]:
print(tup)

tableau, sql, python, msexcel, ml, Practice, Math, Edu, Beta, Art

#### Sets

- sets are mutable bt it does not care about order and gives only unique values

- Set is an unordered collection data types that is iterable, mutable, and has no duplicate elements

In [37]:
# Define empty set

my_set = {}
print(type(set))
myset = set()
print(myset)

<class 'type'>
set()

In [39]:
myset= {1,2,3,4,8,5,5,6,6,9}
print(myset)

{1, 2, 3, 4, 5, 6, 8, 9}

In [144]:
set_cources = {'tableau', 'sql', 'python', 'msexcel', 'ml', 'Practice', 'Math', 'Edu', 'Beta', 'Art', 'Art', 'Edu', 'Practice', 'Art', 'Edu', 'Practice'}

In [145]:
print(set_cources)

{'Edu', 'Art', 'Math', 'python', 'tableau', 'sql', 'msexcel', 'Beta', 'Practice', 'ml'}

In [146]:
# Creating the empty list, tuples and set

In [147]:
# List
empty_list = []
empty_list = list()

In [148]:
# Tuple
empty_tuple = ()
empty_tuple = tuple()

In [149]:
# Sets
empty_set = {}  # This is not right..!!! Its empty DICT
empty_set = set()

## Python Dictionary

- Dict work with key value pairs
-

In [58]:
student = {'name':'John','Age':25,'Courses':['Math','Python']}

In [59]:
print(student)

{'name': 'John', 'Age': 25, 'Courses': ['Math', 'Python']}

In [60]:
student['name']
#student['1']

'John'

 - .get() method

In [61]:
get_m = student.get('Phone')
print(get_m)

None

In [62]:
student['phone'] = '555-5555'

In [63]:
print(student)

{'name': 'John', 'Age': 25, 'Courses': ['Math', 'Python'], 'phone': '555-5555'}

In [64]:
# Update the value in dict 

student.update({'name':'Jane', 'Age': 23,'phone':'555-6666'})

In [65]:
student

{'name': 'Jane', 'Age': 23, 'Courses': ['Math', 'Python'], 'phone': '555-6666'}

In [66]:
# delete specific value

del student['Age']

In [67]:
student

{'name': 'Jane', 'Courses': ['Math', 'Python'], 'phone': '555-6666'}

In [68]:
# you can also use the pop methodas below
age = student.pop("phone")
print(age)

555-6666

In [75]:
# to get the lenght  of the dict as per present keys in dict
print(len(student))

2

In [76]:
# .keys() - method to get all the keys from the dict 
print(student.keys())

dict_keys(['name', 'Courses'])

In [73]:
# .values() - method to get all the values from the dict 
print(student.values())

dict_values(['Jane', ['Math', 'Python']])

In [77]:
# .items() - method to get all the keys and values in tuples from the dict 

print(student.items())

dict_items([('name', 'Jane'), ('Courses', ['Math', 'Python'])])

#####  Loop through Dict

In [78]:
for key in student:
    print(key)

name
Courses

In [80]:
for key,value in student.items():
    print(key,value)

name Jane
Courses ['Math', 'Python']

### Conditional & Booleans Statements

In [15]:
print(type(True))

<class 'bool'>

In [16]:
my_string = "Hey there, Welcome to python learnig"

In [18]:
print(my_string.isalnum())  # Check if all char are numbers
print(my_string.isalpha())  # Check if all char are alphanumeric
print(my_string.isdigit())  # Check if string contains digits
print(my_string.istitle())  # Check if string has title in it
print(my_string.isupper())  # Check if string is in upper case
print(my_string.islower())  # Check if string is in lower case
print(my_string.isspace())  # Check if string has any spaces
print(my_string.endswith('k'))  # Check if string ending with k 
print(my_string.startswith('H'))  # Check if string starts with H

False
False
False
False
False
False
False
False
True

In [82]:
if True:
    print("condition was true")

condition was true

In [86]:
language = 'python'

if language == 'python':
    print("condition was true")

condition was true

In [ ]:
## Comparison operators

# Equal :  == 
# Not Equal : != 
# Greater Than : > 
# Less Than: < 
# Greater Than Equal: >= 
# Less Than_Equal: <= 
# Object Identity: is

In [87]:
# IF-ELSE

language = 'python'

if language == 'python':
    print("langage is python")
else:
    print('No Match')

langage is python

In [90]:
# IF-ELIF-ELSE

language = 'Java'

if language == 'Python':
    print("langage is python")

elif language == 'Java':
    print("language is Java")

else:
    print('No Match')

language is Java

###### Python does not have switch case statement like other programming languages.

## Boolean Operators
 - AND
 - OR
 - NOT

In [98]:
# AND 

user = 'Admin'
logged_in = True


if user == 'Admin' and logged_in:
    print("signed in successfully...!!!")

else:
    print("Wrong Credentials")

signed in successfully...!!!

In [103]:
# OR 

user = 'Admin'
logged_in = True

if user == 'Admin' or logged_in:
    print("signed in successfully...!!!")

else:
    print("Wrong Credentials")

signed in successfully...!!!

In [106]:
# NOT

user = 'Admin'
logged_in = False  # True

if not logged_in:
    print("Please log in...")

else:
    print("Welcome...!!")

Please log in...

###### Object Identity -->  is

In [114]:
a = [1,2,3]
b= [1,2,3]

In [115]:
print(id(a))
print(id(b))

print(a is b)

2250718813440
2250725566144
False

Therefor,

In [119]:
a = [1,2,3]
b=a
print(id(a))
print(id(b))

print(a is b) 
# above & below statements are the same 
print(id(a) == id(b))

2250722526720
2250722526720
True
True

In [135]:
## Flase Values

#     False
#     None
#     Zero of any numeric type like 0 
#     Any empty sequense. For example, '', (), [].
#     Any empty mapping. For example, {}.

    
condition = False

if condition:
    print('Evaluated to True')
else:
    print('Evaluated to False')

Evaluated to False

In [136]:
## Other than above everything else is true.

## Loops & Iterations -

#### For Loop -

In [147]:
nums = [1,2,3,4,5,6]

for item in nums:
    if item == 4:
        print("Found")
    #print(item)

Found

In [148]:
# break & Continoue statement

nums = [1,2,3,4,5,6]

for item in nums:
    if item == 4:
        print("Found")
        break
    print(item)

1
2
3
Found

In [149]:
nums = [1,2,3,4,5,6]

for item in nums:
    if item == 4:
        print("Found")
        continue
    print(item)

1
2
3
Found
5
6

In [151]:
nums = [1,2,3,4,5,6]

for num in nums:
    for letter in 'abc':
        print(num,letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c
6 a
6 b
6 c

In [159]:
# range(Start,End, Steps)   ---> range's end value will be neglected
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

#### while Loop -

In [161]:
x = 0
while x <10:
    if x==5:
        break
    print(x)
    x +=1

0
1
2
3
4

# Functions

In [166]:
def hello_func():
    print("hello ...!!!")

In [167]:
hello_func()

hello ...!!!

In [173]:
def hello_funct():
    print("hello ... !!!")

In [174]:
hello_funct()
hello_funct()
hello_funct()
hello_funct()
hello_funct()

hello ... !!!
hello ... !!!
hello ... !!!
hello ... !!!
hello ... !!!

- This will keep your code DRY - Dont Repeat Yourself!

In [176]:
def hello_func():
    return 'hello there'

In [178]:
hello_func().upper()

'HELLO THERE'

In [ ]:
# arguments with functions

In [190]:
def hello_fun(greetings,name = 'You'):
    return '{}, {} .'.format(greetings,name)

hello_fun('Hey', name= 'Carry')

'Hey, Carry .'

In [191]:
## *args & ** kwargs Meaning 
#   

def student_info(*args, **kwargs):
    print(args)
    print(kwargs)

In [203]:

def student_info(*args, **kwargs):
    print(args) 
    print(kwargs)
    
    # *args, **kwarg == standard representations for args and kwargs

cources = ['math', 'art']
info = {'name':'john', 'age':22}

student_info(*cources,**info)   # * and ** before the variabel --> unpacked arguments values from the list and dict

('math', 'art')
{'name': 'john', 'age': 22}

In [204]:
### Problem to test and standard example

In [207]:
# Number of days per month. First value placeholder for indexing purpose.
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]

def is_leap(year):
    """ Returnt True for leap years, False for non-leap year. """
    
    return year % 4 ==0 and (year % 100 != 0 or year % 400 ==0)

def days_in_month(year,month):
    """ Returnt number of days in that month in that year. """
    
    if not 1 <= month <= 12:
        return 'Invalid Month'
    
    if month == 2 and is_leap(year):
        return 29
    
    return month_days[month]

In [208]:
is_leap(2017)

False

In [209]:
is_leap(2020)

True

In [210]:
days_in_month(2017,2)

28

In [211]:
days_in_month(2020,2)

29

In [212]:
days_in_month(2021,5)

31

$ NOTE - Explore the Functions topic more...!!! >

### Import Modules & Explore Standard Library

In [2]:
#import my_module as mm 

# Please check the Introduction_to_Module_Import file for further notes

## Iterables vs Iterators

- Iterator in Python is an object that is used to iterate over iterable objects like lists, tuples, dicts, and sets. The iterator object is initialized using the iter() method. It uses the next() method for iteration.

- __iter__(): The iter() method is called for the initialization of an iterator. This returns an iterator object
- __next__(): The next method returns the next value for the iterable. When we use a for loop to traverse any iterable object, internally it uses the iter() method to get an iterator object, which further uses the next() method to iterate over. This method raises a StopIteration to signal the end of the iteration.

In [66]:
string = "Python"
ch_iterator = iter(string)
 
print(next(ch_iterator))
print(next(ch_iterator))
print(next(ch_iterator))
print(next(ch_iterator))
print(next(ch_iterator))
print(next(ch_iterator))

P
y
t
h
o
n

- Example 1: Creating and looping over an iterator using iter() and next()
- Below is a simple Python custom iterator that creates an iterator type that iterates from 10 to a given limit. For example, if the limit is 15, then it prints 10 11 12 13 14 15. And if the limit is 5, then it prints nothing.

In [67]:
# A simple Python program to demonstrate
# working of iterators using an example type
# that iterates from 10 to given value
 
# An iterable user defined type
class Test:
 
    # Constructor
    def __init__(self, limit):
        self.limit = limit
 
    # Creates iterator object
    # Called when iteration is initialized
    def __iter__(self):
        self.x = 10
        return self
 
    # To move to next element. In Python 3,
    # we should replace next with __next__
    def __next__(self):
 
        # Store current value ofx
        x = self.x
 
        # Stop iteration if limit is reached
        if x > self.limit:
            raise StopIteration
 
        # Else increment and return old value
        self.x = x + 1;
        return x
 
# Prints numbers from 10 to 15
for i in Test(15):
    print(i)
 
# Prints nothing
for i in Test(5):
    print(i)

10
11
12
13
14
15

- Example 2: Iterating over built-in iterables using iter() method
- In the following iterations, the iteration state and iterator variable is managed internally (we can’t see it) using an iterator object to traverse over built-in iterables like list, tuple, dict etc.

In [69]:
# Sample built-in iterators
 
# Iterating over a list
print("List Iteration")
l = ["name", "is", "ricy"]
for i in l:
    print(i)
     
# Iterating over a tuple (immutable)
print("\nTuple Iteration")
t = ("name", "is", "ricy")
for i in t:
    print(i)
     
# Iterating over a String
print("\nString Iteration")   
s = "name"
for i in s :
    print(i)
     
# Iterating over dictionary
print("\nDictionary Iteration")  
d = dict()
d['xyz'] = 123
d['abc'] = 345
for i in d :
    print("%s  %d" %(i, d[i]))

List Iteration
name
is
ricy

Tuple Iteration
name
is
ricy

String Iteration
n
a
m
e

Dictionary Iteration
xyz  123
abc  345

##### Iterable 
* It is an object, that one can iterate over. It generates an Iterator when passed to iter() method. 
##### Iterator
* An iterator is an object, which is used to iterate over an iterable object using the __next__() method. Iterators have the __next__() method, which returns the next item of the object.

Note: Every iterator is also an iterable, but not every iterable is an iterator in Python.

For example, a list is iterable but a list is not an iterator. An iterator can be created from an iterable by using the function iter(). To make this possible, the class of an object needs either a method __iter__, which returns an iterator, or a __getitem__ method with sequential indexes starting with 0.

### Iterable vs Iterator

* iterable and iterator are different. The main difference between them is, iterable cannot save the state of the iteration, but whereas in iterators the state of the current iteration gets saved.

Note: Every iterator is also an iterable, but not every iterable is an iterator in Python.

In [75]:
tup = ('a', 'b', 'c', 'd', 'e')
# iterating on each item of the iterable (here: tuple)
for item in tup:
    print(item)

a
b
c
d
e

##### Iterating on an iterator

In [76]:
tup = ('a', 'b', 'c', 'd', 'e')
 
# creating an iterator from the tuple
tup_iter = iter(tup)
 
print("Inside loop:")
# iterating on each item of the iterator object
for index, item in enumerate(tup_iter):
    print(item)
 
    # break outside loop after iterating on 3 elements
    if index == 2:
        break
 
# we can print the remaining items to be iterated using next()
# thus, the state was saved
print("Outside loop:")
print(next(tup_iter))
print(next(tup_iter))

Inside loop:
a
b
c
Outside loop:
d
e

##### Getting StopIteration Error while using iterator

Iterables can be iterated over multiple times, but iterators raise StopIteration Error when all items are already iterated.

In [77]:
iterable = (1, 2, 3, 4)
iterator_obj = iter(iterable)
 
print("Iterable loop 1:")
# iterating on iterable
for item in iterable:
    print(item, end=",")
 
print("\nIterable Loop 2:")
for item in iterable:
    print(item, end=",")
 
print("\nIterating on an iterator:")
# iterating on an iterator object multiple times
for item in iterator_obj:
    print(item, end=",")
 
print("\nIterator: Outside loop")
# this line will raise StopIteration Exception
# since all items are iterated in the previous for-loop
print(next(iterator_obj))

Iterable loop 1:
1,2,3,4,
Iterable Loop 2:
1,2,3,4,
Iterating on an iterator:
1,2,3,4,
Iterator: Outside loop

StopIteration:

##### Explanation: 

In the above code, we are trying to get the next element from the iterator after the completion of the for-loop. Since the iterator is already exhausted, it raises a StopIteration Exception. Whereas, using an iterable, we can iterate on multiple times using for loop or can get items using indexing.

In [54]:
# List is Iterable
lst = [1,2,3,4,5,6,5,77,8,4,9]

for i in lst:
    print(i)

1
2
3
4
5
6
5
77
8
4
9

In [56]:
lst1 = iter(lst)

In [57]:
next(lst1)

1

In [58]:
lst1

#### Generators in Python

Generator-Function: A generator-function is defined like a normal function, but whenever it needs to generate a value, it does so with the yield keyword rather than return. If the body of a def contains yield, the function automatically becomes a generator function.

In [59]:
# A generator function that yields 1 for first time,
# 2 second time and 3 third time
def simpleGeneratorFun():
    yield 1           
    yield 2           
    yield 3           
  
# Driver code to check above generator function
for value in simpleGeneratorFun():
    print(value)

1
2
3

Generator-Object : Generator functions return a generator object. Generator objects are used either by calling the next method on the generator object or using the generator object in a “for in” loop (as shown in the above program).

In [60]:
# A Python program to demonstrate use of
# generator object with next()
 
# A generator function
def simpleGeneratorFun():
    yield 1
    yield 2
    yield 3
  
# x is a generator object
x = simpleGeneratorFun()
 
# Iterating over the generator object using next
print(next(x)) # In Python 3, __next__()
print(next(x))
print(next(x))

1
2
3

So a generator function returns an generator object that is iterable, i.e., can be used as an Iterators . As another example, below is a generator for Fibonacci Numbers.

In [61]:
# A simple generator for Fibonacci Numbers
def fib(limit):
     
    # Initialize first two Fibonacci Numbers
    a, b = 0, 1
 
    # One by one yield next Fibonacci Number
    while a < limit:
        yield a
        a, b = b, a + b
 
# Create a generator object
x = fib(5)
 
# Iterating over the generator object using next
print(next(x)) # In Python 3, __next__()
print(next(x))
print(next(x))
print(next(x))
print(next(x))
 
# Iterating over the generator object using for
# in loop.
print("\nUsing for in loop")
for i in fib(5):
    print(i)

0
1
1
2
3

Using for in loop
0
1
1
2
3

##### Applications: 

Suppose we create a stream of Fibonacci numbers, adopting the generator approach makes it trivial; we just have to call next(x) to get the next Fibonacci number without bothering about where or when the stream of numbers ends. A more practical type of stream processing is handling large data files such as log files. Generators provide a space-efficient method for such data processing as only parts of the file are handled at one given point in time. We can also use Iterators for these purposes, but Generator provides a quick way (We don’t need to write __next__ and __iter__ methods here).